/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media only screen and (max-width: 1080px) {
	.container--content-file-c-box {
	    width: calc(25% - 20px);
	}
	.container--content-file-c-box:nth-child(1) {
	    left: -25%;
	}
	.container--content-file-c-box:nth-child(2) {
	    left: 0%;
	}
	.container--content-file-c-box:nth-child(3) {
	    left: 25%;
	}
	.container--content-file-c-box:nth-child(4) {
	    left: 50%;
	}
	.container--content-file-c-box:nth-child(5) {
	    left: 75%;
	}
	.container--content-file-c-box:nth-child(6) {
	    left: 100%;
	}
	.container--content-file-c-box:nth-child(7), .container--content-file-c-box:nth-child(8), .container--content-file-c-box:nth-child(9), .container--content-file-c-box:nth-child(10) {
	    left: 100%;
	}
	.container--spin-body {
		height: calc(100% - 215px);
	}
}
@media only screen and (max-width: 812px) {
	.container--body {
		width: 100%;
	}
	.container--content {
		width: 100%;
	}
	.container--menu-mobile {
	    display: block;
	}
	.container--menu {
		background: #fff;
		-webkit-transition: all ease 0.5s;
		-o-transition: all ease 0.5s;
		transition: all ease 0.5s;
		position: fixed;
		left: -300px;
		z-index: 99;
	}
	.container--menu.show-mobile {
		left: 0px;
	}
	.__list-member-table-tbody {
		height: calc(100% - 130px);
	}
}
@media only screen and (max-width: 768px) {
	.container--spin-body {
		height: calc(100% - 250px);
	}
}
@media only screen and (max-width: 600px) {
	.container--content-file-c-box {
	    width: calc(33.33% - 20px);
	}
	.container--content-file-c-box:nth-child(1) {
	    left: -33.33%;
	}
	.container--content-file-c-box:nth-child(2) {
	    left: 0%;
	}
	.container--content-file-c-box:nth-child(3) {
	    left: 33.33%;
	}
	.container--content-file-c-box:nth-child(4) {
	    left: 66.66%;
	}
	.container--content-file-c-box:nth-child(5) {
	    left: 100%;
	}
	.container--content-file-c-box:nth-child(6) {
	    left: 100%;
	}
	.container--content-file-c-box:nth-child(7), .container--content-file-c-box:nth-child(8), .container--content-file-c-box:nth-child(9), .container--content-file-c-box:nth-child(10) {
	    left: 100%;
	}

	.container--content-file-sort-box .__sort-title {
		width: calc(100% - 200px);
	}
	.container--content-file-sort-box .__sort-date {
		width: 150px;
	}
	.container--spin-body {
		grid-template-columns: 100%;
	}
	.container--spin-body-list-member {
		display: none;
	}
	.container--spin-body {
		height: calc(100% - 270px);
	}
}
@media only screen and (max-width: 480px) {
	.container--content-file-c-box {
	    width: calc(50% - 20px);
	}
	.container--content-file-c-box:nth-child(1) {
	    left: -50%;
	}
	.container--content-file-c-box:nth-child(2) {
	    left: 0%;
	}
	.container--content-file-c-box:nth-child(3) {
	    left: 50%;
	}
	.container--content-file-c-box:nth-child(4) {
	    left: 100%;
	}
	.container--content-file-c-box:nth-child(5) {
	    left: 100%;
	}
	.container--content-file-c-box:nth-child(6) {
	    left: 100%;
	}
	.container--content-file-c-box:nth-child(7), .container--content-file-c-box:nth-child(8), .container--content-file-c-box:nth-child(9), .container--content-file-c-box:nth-child(10) {
	    left: 100%;
	}

	.container--content-file-sort-box .__sort-title {
		width: calc(100% - 100px);
	}
	.container--content-file-sort-box .__sort-date {
		width: 150px;
	}
	.__sort-date, .__sort-count {
		display: none;
	}
	.container--content-file-c-box-detail {
		width: 130px;
	}
	.container--spin-body {
		height: calc(100% - 310px);
	}
}
@media only screen and (max-width: 320px) {
	
}